@import "variables.scss";

.body-wrapper {
  flex-direction: column;
}

.body-wrapper {


  .sb-header {
    font-size: 90%;
    max-width: 100%;
    flex-direction: column;
    .sb-header__nav {
      font-family: $font-family;
      color: $font_color_grey;
      flex-direction: row;
      margin-left: 12%;
    }

    &__search {
      background: gainsboro;
      flex-basis:103px;

    }
  }
  .sb-content {
    flex-grow: 10;
  }

  .sb-header {
    flex-grow: 1;
  }

}

.sb-header__logo {
  margin: 0.5%;

}

.sb-header__nav-elem {
  text-transform: uppercase;

}

.sb-header__nav-list {
  width: 100%;
  margin: 0 10%;
  justify-content: space-between;
}

.sb-header__nav-wrapper {
  flex-basis: 90%;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.sb-header__search {
  align-items: center;
  justify-content: center;
}

.sb-header__login_button {
  padding: 3%;
  align-items: center;
  * {
    padding-left: 10px;
  }
}

.sb-header {
  background: $header_background;
  justify-content: space-between;
  &__banner-wrapper{
    flex-grow: 1;
  }
}

.sb-header__login-container {

  background: $login_color;
  /*padding: 40% auto;*/
  padding-left: 1%;
  align-items: center;

}



.sb-header__banner-wrapper {
  background: url(./../assets/main/bg-layer.png) 100% 30% no-repeat;
  background-size: cover;
  //filter: brightness(60%);
  padding-top: 2%;
  justify-content: flex-start;
  flex-direction: column;


  .sb-header__container-form {
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    padding: 0 5%;
  }
}

.sb-header__btn {
  width: 90%;
  outline: none;
  color: #fff;
  font-size: 1.1em;
  border: 1px solid #635656;
  padding: 14px 0px 14px 25px;
  border-radius: 50px;
  background: none;
}

.sb-header__banner-wrapper input[type="text"] {
  background: rgba(111, 111, 111, 0.17);
  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -webkit-appearance: none;
  border: 1px solid #5b5953;
  outline: none;
  font-size: 1.1em;
  padding: 17px;
  color: #fff;
  text-transform: lowercase;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  font-weight: 300;
}

.sb-header__form-contact_btn input[type="submit"], .footer input[type="submit"] {
  background: $login_color;
  box-shadow: 0 3px #c1412e;
  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -webkit-appearance: none;
  border: 1px solid $login_color;
  outline: none;
  font-size: 1.2em;
  padding: 17px;
  color: #fff;
  width: 35%;
  text-transform: uppercase;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  font-weight: 300;
  margin: 5% 0 7%;
}

.sb-header__form-contact_btn-inner {
  justify-content: center;
}

.sb-header-text {
  font-size: 2.2em;
  font-family: "Gotham";
  color: #fff;
  line-height: 1.6;
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  margin-bottom: 1em;
  justify-content: center;
}

.sb-header__form {
  display: flex;
  flex-direction: column;
}

.sb-header__btn-2 {
  margin-left: 5%;
}

.sb-header__dropdown-buttons {
  margin-bottom: 2%;
}

.sb-header__content-filters {
  flex-direction: row;
  justify-content: center;
  font-size: 0.9em;

  .sb-header__content-filters-wrapper {
    justify-content: space-around;
    width: 60%;
    margin: 0.8% 0;
    align-items: center;
  }

  .sb-header__content_menu-li {
    justify-content: space-between;
    margin-right: 20%;
    align-items: center;
  }

  .sb-header__content_menu-li a:hover {
    color: $login_color;
  }

  .sb-header__content_dropdown {
    width: 90%;
  }
  .sb-header__content_dropdown select {
    //MARGIN!!!!!
    margin: 2%;
    width: 100%;
    outline: none;
    color: #96a6a7;
    font-size: 0.8125em;
    border: 1px solid #96a6a7;
    padding: 8px 0px 8px 15px;
    border-radius: 50px;
    background: none;
  }

}

.sb-header__content-filters-2 {
  justify-content: center;
}

.sb-header__content_menu-li li {
  margin-right: 6%;
}

.sb-header__content-filters-2 > div {
  margin-right: 6%;
}


.text-header {
  font-family: $font-family;
  color: $font_color_grey;
  text-transform: uppercase;
  font-weight: bold;
}


.filter {
  .fil {
    margin-right: 5%;
  }

  .sb-header__icon img{
    max-width:90%;
  }

  align-items: center;
  margin: 0 10%;


  .sb-header__icon {
    margin-right: 3%;
  }
}
