@import "variables.scss";
@media only screen and (max-width: 1500px) {
  //* {
  //  padding:0;
  //  margin: 0;
  //
  //}

  .body-wrapper {
    font-size: 0.9em;
  }
  .col-sm-8 {
    flex-grow: 2;
    flex-basis: 66%;
    margin: 5px 0;
  }
  .body-wrapper .sb-header__search {
    background: gainsboro;
    flex-basis: 86px;
  }
}

@media only screen and (max-width: 1380px) {

  .body-wrapper {
    font-size: 0.6em;
  }
  .col-sm-8 {
    flex-grow: 2;
    flex-basis: 66%;
    margin: 5px 0;
  }
  .body-wrapper .sb-header__search {
    background: gainsboro;
    flex-basis: 86px;
  }
  .body-wrapper .sb-header {
    flex-grow: 1;
  }
}

@media only screen and (max-width: 975px) {
  //.sb-header__banner-wrapper {
  //  display: block;
  //}
  //* {
  //  font-size: 0.98em;
  //}
  .sb-content__card-info-big .sb-content__card-info-big-img-wrapper {
    width: 10% !important;
  }
  .sb-header__search {
    height: 45px !important;
  }

  .body-wrapper .sb-header .sb-header__nav {
    display: block;
    width: 100%;
    margin: 0;
  }
  .col-sm-8, .col-sm-4 {
    width: 100%;
    height: 80px;
  }

  .sb-header__login-container {
    align-content: center;
  }
  .sb-header__login-container {
    display: flex;
    justify-content: center;
  }
  .sb-header__login_button {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .body-wrapper .sb-header {
    flex-grow: 1;
  }

}

@media only screen and (max-width: 780px) {


  .sb-content__card-info h3 {
    font-size: 2.5em !important;
  }

  .star1 {
    font-size: 1.5em !important;
  }
  .sb-header__nav-wrapper {
    height: 150px !important;
    .sb-header__nav-list {
      height: 100%;
      justify-content: space-around;
      align-items: center;
    }
  }


  .col-md-6 {
    width: 20%;
    height: 45%;
  }

  .body-wrapper .sb-header .sb-header__nav {
    display: block;
    width: 100%;
    margin: 0;
  }
  .col-sm-8, .col-sm-4 {
    width: 100%;
    height: 100%;
  }

  .sb-header__login-container {
    align-content: center;
  }
  .sb-header__login-container {
    display: flex;
    justify-content: center;
  }
  .sb-header__login_button {
    justify-content: center;
  }

  .sb-header__nav-wrapper, .sb-header__nav-list {
    flex-direction: column;
  }
  .body-wrapper .sb-header {
    flex-grow: 1;
  }

  .sb-header__content-filters-wrapper {
    flex-direction: column;
    width: 100%;
    padding: 2% 0;


  }
  .sb-header__content-filters-1 {
    width: 100%;
    flex-basis: 0% !important;
    padding-bottom: 4%;
  }

  .sb-header__content-filters-3 {
    flex-basis: 0% !important;
  }
  .sb-header__content_dropdown-wrapper {
    width: 100%;
    margin-bottom: 3%;
  }
  .sb-header__content-filters .sb-header__content_menu-li {
    justify-content: space-between;
    margin-right: 0 !important;
    width: 100%;
  }
  //content

  .sb-content__main-wrapper .sb-content__row {
    margin-bottom: 0 !important;
    flex-basis: 0% !important;
  }

  .sb-content__main-wrapper {
    flex-direction: column;
    width: 100% !important;
    margin: 2% 15% !important;
  }
  .sb-content__main-wrapper .sb-content__row {
    display: block !important;
    width: 100% !important;
  }
  .img_circle {
    max-width: 30% !important;
  }

  .img_circle-3 {
    max-width: 100% !important;
  }
  .sb-content__icons-block-icon li {
    padding-right: 3%;
  }
  .sb-content__card {
    width: 100% !important;
    margin-bottom: 8%;
  }



  //
  .sb-content__card-description {
    top: 54% !important;
  }
  //

  .img-responsive {
    width: 100%;
    /* min-width: 13%; */
    /* min-height: 100%; */
    border-bottom: 3px solid $font_color_green;
  }
  .sb-content__underfooter-column-1-text-wrapper {
    color: #96a6a7;
    font-family: "Gotham Book", sans-serif;
    font-size: 1.6em !important;
    line-height: 1.8em;
    font-weight: 500;
  }

  .sb-content__underfooter-columns-wrapper-inner {
    flex-direction: column;
    width: 100% !important;
  }

  .sb-footer__inventory {
    flex-direction: column;
  }

  .sb-footer-wrapper {
    padding: 2% 0;
    padding-right: 0 !important;
    width: 80% !important;
  }

  .sb-footer__inventory-media-copyright {
    margin: 3% auto !important;
  }
  .underfooter-text h3 {
    font-size: 1.2em !important;

  }
  .sb-content__main-wrapper {
    height: 100% !important;
  }

  .none {
    display: block;
  }


}

//@media only screen and (max-width: 375px) {
//  .sb-content__underfooter-column-1-text-wrapper {
//    color: #96a6a7;
//    font-family: "Gotham Book", sans-serif;
//    font-size: 1.2em !important;
//    line-height: 1.8em;
//    font-weight: 500;
//  }
//}