$login_color: #e94e38;
$header_background: #fff;
$content_background: #f3f1f2;
$font_color_grey: #9eadae;
$font_color_green: #1baf5d;
$font_color_caption_text-1: #566375;
$font-family: "Montserrat", sans-serif;
$font-family_myriand: "Myriand Pro", sans-serif;
$font-family_gotham: "Gotham Bold", sans-serif;